body{
    /* background-color: var(--tg-theme-bg-color); */
    background: var(--tg-theme-bg-color);
    height: 99vh;
    color: var(--tg-theme-text-color);
}

/* имя чата */

header{
    width: 100%;
    text-align: center;
    height: 100px;
    font-size: 20px;
}

header h1{
    margin-top: 0;
    margin-bottom: 5px;
}

/* блок с правилами и новостями */

.info{
    overflow: auto;
    width: 100%; 
    height: 87%;
    margin-bottom: 10px;
}

.rules{
    font-size: 40px;
    border-radius: 10px;

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: var(--tg-theme-secondary-bg-color);
    margin-bottom: 20px;
}

.rules p {
    margin: 9px;
}

#inner{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-auto-rows: 150px;
    grid-column-gap: 10px;
    grid-row-gap: 1em;    
}

[class^="item"]{
    background-color: var(--tg-theme-secondary-bg-color);
    text-align: center;
    font-size: large;
    border-radius: 25px;
    margin: 5px;

    overflow: hidden;

    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;

}

[class^="item"].show {
    /* Задайте стили для анимации появления элемента */
    opacity: 1;
    transform: translateY(0);
    
}



button{
    position:absolute;
    bottom: 5%;
    right:50%;
}


/* футер */

.footer{
    width: 100%;
    display: flex;
    position: fixed;
    left: 5px;
    right: 0;
    bottom: 30px;
    z-index: 10;
}

.user-info{
    overflow: hidden;
    background: var(--tg-theme-secondary-bg-color);
    width: 80%; 
    height: 53px;
    border-radius: 35px; 
    font-size: 25px;
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
    margin-right:20px ;

}

.name{
    margin: 0px;
    float: left;
    
}

.role{
    margin: 0px;
    float: right;
}

.setings{
    background-color: var(--tg-theme-secondary-bg-color);
    width: 15%;
    height: 53px;
    border-radius: 35px;
}